html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.container {
  position: relative;
  color: white;
}

.text-logo {
  padding: 10px 0px;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 25%;
  background-color: rgba(0, 0, 0, 0.603);
}

img{
  height: 100vh;
}

.container-text{
  height: 100%;
}