@font-face {
  font-family: Norse;
  src: url("/Norse-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

html, body {
   height: 100%; margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.page-container {
  background-color: rgb(249, 250, 251);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  min-height: 100%;
}

.container {
  position: relative;
  color: white;
}

.welcome-text{
/* .form-container{ */
  padding-left: 3rem;
}

.text-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Norse;
  font-size: 60px;
  padding: 10px 0px;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 25%;
  background-color: rgba(0, 0, 0, 0.603);
}

img{
  height: 100vh;
  margin: 0;
  display: block;
}

.odin {
  height: 1.5em;
}

.welcome-text {
  font-weight: bold;
}

.container-text{
  padding-top: 3rem;
  flex-grow: 1;
}

h1 {
  margin: 0px;
  font-size: 1.3rem;
}

.form-container p {
  margin: .8rem 0rem;
}

.form-container {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 3rem;
  color: rgb(34, 34, 34);
  width: calc(100%-3rem);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5), 0px -1px 4px rgba(0, 0, 0, 0.5);
}

form{
  display: flex;
  flex-direction: row;
}
.form-row {
  display: flex;
  flex-direction: column;
}

label,input{
  display:flex;
  flex-direction:column;
}

label {
  font-size: .6rem;
}

.form-row input {
  background-color: #FFFFFF;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 3px;
}
.form-row input:focus{
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 3px blue;
}

button {
  margin:2rem 0rem 0rem 3rem;
  padding: 1rem 2rem;
  background-color: #596D48;
  border: none; border-radius: 10px;
  font-size: 1rem; font-weight: bold;
  color:white;
}

a {
  text-decoration: none;
}